@using ToDoList.Model.Models
@model IEnumerable<Tasks>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="vh-100" style="background-color: #b4bdbf;">
    <div class="container">

        <main class="todo" id="todolist">

            <h1 class="center-block">لیست وظایف</h1>

            @foreach (var item in Model)
            {
                <ul id="allTasks">
                    <li>
                        <span class="label fa">@item.Content</span>
                        <div class="actions">
                            <button class="btn-picto">
                                <i class="glyphicon glyphicon-unchecked"></i>
                            </button>
                            <button class="btn-picto">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </div>
                    </li>
                </ul>
            }
           
            <div class="empty">
                <!--<p class="emptylist">شما هنوز هیچ کاری ثبت نکرده اید!</p>-->
            </div>
            <form id="addtask">
                <input type="text" id="form1" name="content" class="fa" autocomplete="off" />
                <button type="submit" class="btn btn-success">افزودن</button>
            </form>


        </main>
    </div>
</section>

@section Scripts
{

    <script>
        $(document).ready(function () {
            $('#addtask').on('submit', function (e) {

                e.preventDefault();
                var content = $(this).find('#form1').val();


                $.ajax({
                    url: '@Url.Action("Create", "Tasks")',
                    type: 'POST',
                    data: {
                        content: content,

                    },
                    success: function (response) {
                        console.log(response);

                        var newTask = '<li>\n' +
                            '<span class="label fa">' + content + '</span>\n' +
                            '<div class="actions">\n' +
                            '<button class="btn-picto">\n' +
                            '<i class="glyphicon glyphicon-unchecked"></i>\n' +
                            '</button>\n' +
                            '<button class="btn-picto">\n' +
                            '<i class="glyphicon glyphicon-trash"></i>\n' +
                            ' </button>\n' +
                            ' </div>\n' +
                            ' </li>';

                        $('#allTasks').append(newTask);
                        $('#form1').val('');

                        if ($('#allTasks').children().length === 0) {
                            var item = '<p class="emptylist">شما هنوز هیچ کاری ثبت نکرده اید!</p>';
                            $('#allTasks').html(item);
                        } else {
                            $('#allTasks').find('.emptylist').remove();
                        }
                    },
                    error: function () {
                        var item = '<p class="emptylist">شما هنوز هیچ کاری ثبت نکرده اید!</p>';
                        $('#allTasks').html(item);
                    }
                });


            });
        });


    </script>
}
