* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #f7f1f1;
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}


.card {
    margin: 3rem auto;
    width: 700px;
    padding: 1rem 2rem 2rem;
   
    
}

#addtask {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

header form input {
    flex-grow: 5;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
}

