﻿* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: #f7f1f1;
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
}


.card {
    margin: 4rem auto;
    padding: 2rem 3rem 3rem;
    max-width: 600px;
    height:500px;
    background: #993366;
    color: black;
    box-shadow: -20px -20px 0px 0px rgba(100,100,100,.1);
}

#addtask {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.header form input {
    flex-grow: 5;
    border: none;
    background: #f7f1f1;
    padding: 0 1.5em;
    font-size: initial;
}

#alltasks {
    background: #e6b3cc;
    color: black;

}

