 @using ToDoList.Model.Models
@model IEnumerable<Work>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="vh-100" style="background-color: #ecc6d9">
    <div class="row">
        <div class="col-md-11 col-12">
            <div class="card">
                <div class="header">

                    <form id="addtask">
                        <input type="text" id="form1" name="name" class="fa" autocomplete="off" />
                        <button type="submit" class="btn btn-success">افزودن</button>
                    </form>

                    <div class="clearfix"></div>
                    <br />
                    <input type="text" class="form-control" placeholder="جستجو " id="mySearch" />
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <h1 class="text-center">
                                    لیست وظایف
                                </h1>

                            </tr>
                        </thead>
                        <hr />
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr id="alltasks">
                                    <td>
                                        @if (item.IsActive)
                                        {
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>

                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                                        }
                                        &nbsp; &nbsp;


                                        @item.Name- @item.Date
                                    </td>

                                    <td>
                                        <a href="/Work/Edit/@item.Id" class="btn btn-xs btn-warning">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="#" onclick="myDelete('@item.Id')" class="btn btn-xs btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>

                                </tr>
                            }


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</section>

@section Scripts
{
    <script src="~/js/sweet.js"></script>

    <script>
        $(document).ready(function () {
            $("#mySearch").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <script>
        $('#addtask').on('submit', function (e) {
            e.preventDefault();
            var name = $(this).find('#form1').val();
            var isActive = $(this).find('#isActiveCheck').is(':checked');

            $.ajax({
                url: '@Url.Action("Create", "Work")',
                type: 'POST',
                data: {
                    name: name,
                    isActive: isActive
                },
                success: function (response) {
                    console.log(response);

                    var newTask = '<tr>' +
                        '<td>' + response.IsActive + ' ' + response.Name + ' ' + response.Date + '</td>' +
                        '<td>' +
                        '<a href="/Work/Edit/' + response.Id + '" class="btn btn-xs btn-warning">' +
                        '<i class="fa fa-edit"></i>' +
                        '</a>' +
                        '<a href="#" onclick="myDelete(\'' + response.Id + '\')" class="btn btn-xs btn-danger">' +
                        '<i class="fa fa-trash"></i>' +
                        '</a>' +
                        '</td>' +
                        '</tr>';

                    $('#myTable').append(newTask);
                    $('#form1').val('');
                    $('#isActiveCheck').prop('checked', false);


                },

            });


        });
    </script>
    <script>
        function myDelete(id) {
            swal({
                title: "تأیید حذف",
                text: "آیا از حذف این مقدار اطمینان دارید؟",
                icon: "warning",
                buttons: ['لغو', 'بلی'],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        window.open('/Work/Delete/' + id, '_parent');
                    }
                });
        }
    </script>
}

